@model IEnumerable<uowProject.Models.Game>


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Game List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Game" asp-action="Crup" class="btn btn-primary">
                <span>Add New Game</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>Game Image</th>
                    <th>Game Name</th>
                    <th>Game Category</th>
                    <th>Game Price Before Discount</th>
                    <th>Game Price After Discount</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.GameImage" width="80px" />
                        </td>
                        <td>
                            @item.GameName
                        </td>
                        <td>
                            @item.Category
                        </td>
                        <td>
                            @item.GamePriceBefore
                        </td>
                        <td>
                            @item.GamePriceAfter
                        </td>
                        <td>@item.ReleaseDate</td>
                        <td>
                            <a asp-controller="Game" asp-action="Crup" asp-route-id="@item.GameId" class="btn btn-primary">
                                Güncelle
                            </a>
                            <a asp-controller="Game" asp-action="Delete" asp-route-id="@item.GameId" class="btn btn-danger">
                                Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>